body{
	background: rgb(46,204,113);
	color: #FFFFFF;
	text-align: center;
	font-size: 250%;
}
a:hover, a:visited, a {
	color: #ff0900;
	text-decoration: none;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ff0900;
    background-color: #ff0900;
    color: #FFF;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #FFF;
}
div.tab button:hover {
    background-color: #ddd;
}
